.title {
    text-align: center 
}
.font-green {
    color: #5BC491;
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.background {
    background-color: #F4F5FA;
}

.full-width {
    width: 100%;
}
