<mat-grid-list cols="6" rowHeight="800px">
  <mat-grid-tile [colspan]="2">
    <mat-card class="example-card">
      <mat-card-header class="profile">
        <img mat-card-avatar [src]="this.profileInfo.avatar">
      </mat-card-header>
      <mat-card-content >
        <div class="mat-card-fullname">
          {{ this.profileInfo.name }}
        </div>
        <p>
        </p>
        <div class="mat-card-username">
          {{ this.profileInfo.username }}
        </div>
        <button class="mat-card-button" mat-raised-button>Edit Profile</button>
        <div class="mat-card-follow">
          <button mat-flat-button>
            <mat-icon fontIcon="people"></mat-icon>
            {{ this.profileInfo.followers }} followers
          </button>
          ·
          <button mat-flat-button>
            {{ this.profileInfo.following }} following
          </button>
        </div>
        <div>
          <mat-icon class="mat-card-location" fontIcon="corporate_fare"></mat-icon>{{ this.profileInfo.organization }}
          <mat-icon class="mat-card-location" fontIcon="location_on"></mat-icon>{{ this.profileInfo.location }}
        </div>
        <mat-divider class="mat-card-divider"></mat-divider>
      </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">menu_book</mat-icon>
          Overview
        </ng-template>
        Content 1
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">class</mat-icon>
          Repositories
        </ng-template>
        Content 2
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">folder_copy</mat-icon>
          Projects
        </ng-template>
    
        Content 3
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">star</mat-icon>
          Stars
        </ng-template>
    
        Content 3
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>
