.upload-card {
    max-width: 800px;
    margin: 0 auto;
}
.mat-grid-tile-content {
    width: 100%;
    align-items: flex-start !important;
}

.example-full-width {
    width: 100%;
}

.example-full-width-height {
    width: 100%;
}

.center-text {
    text-align: center;
}